header{
    width:90%;
    height:8vh;
    /* margin:0px;*/
    padding: 0 35px;
    box-sizing:border-content;
    background-color:black;
    color:whitesmoke;
    display: flex;
    justify-content:space-between;
    border:2px solid black;
    align-items:center;
    border-radius:50px;
    position:fixed;
    top:1%; 
    left:50%;
    translate: -50%;
}
header #Logo{
    font-weight: 900;
    font-family:italic;
    font-size:1.6rem;
   
}
header nav{
     height:100%;
    margin-left:100px;
    display:flex;
    gap:70px;
    align-items:center;
    

     
}
header nav a{
    color:white;
    text-decoration:none;
    font-size:1.2rem;
    border:2 px solid black;
    padding:3px 15px;
    border-radius: 15px;
}
header nav a:hover{
    border:2px solid white;
    transition:all 0.6s ease;

}
header button{
    padding:5px 15 px;
    border-radius:10px;
    font-weight: 600;
    font-family:serif;
    font-size:1.1rem;
    border:2px solid black;
    cursor:pointer;
}
header button:hover{
    border:2px solid white;
    background-color:black;
    color:white;
    transition:all 0.6s ease;
}

