.hero-section{
    width:100%;
    height:100%;
    background-color:wheat;
    background-image: url("../images/heroSectionBGImage.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    padding-top:150px;
}
.hero-section .landingContainer{
    width:100%;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1.2rem;
}
.hero-section .landingContainer h1{
    font-size:900;
    font-family:italic;
    color:black;

}
.hero-section .landingContainer p{
    font-family: serif;
    font-size:15px;


}
.hero-section .landingContainer a{
    width:15%;
    border:1px solid white;
    border-radius:20px;
    padding:10px;
    text-decoration:none;
    color:black;
    background-color: rgb(224, 237, 241);
    text-align:center;
    letter-spacing:0.6rem;


}
.hero-section .landingContainer a:hover{
    border:1px;
    border-radius:25px;
    padding:15px;
    transition:all 3s ease;
    color:white;
    background-color:black;


}
